@page "/Persons"
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject MySqlDbContext dbcontext

<div class="container-fluid">
    <AuthorizeView Context="authContext" Roles="admin">
        <Authorized>
            <EditForm Context="editContext" Model="@validModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <label for="fname">Имя</label>
                        </div>
                        <div class="row">
                            <InputText id="fname" placeholder="Имя" @bind-Value="validModel.FirstName" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <label for="sname">Фамилия</label>
                        </div>
                        <div class="row">
                            <InputText placeholder="Фамилия" id="sname" @bind-Value="validModel.SecondName" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <label for="ename">Email</label>
                        </div>
                        <div class="row">
                            <InputText placeholder="Email" id="ename" @bind-Value="validModel.Email" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <label for="pname">Пароль</label>
                        </div>
                        <div class="row">
                            <InputText type="password" placeholder="Password" id="pname" @bind-Value="validModel.Password" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <label for="roleSelect">Выберите роль</label>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <InputSelect id="roleSelect" @bind-Value="role">
                        @foreach (var item in dbcontext.Roles)
                        {
                            <option>@item.RoleName</option>
                        }
                    </InputSelect>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:10px">
                    <div class="col">
                        <button class="btn btn-secondary" type="submit">Добавить</button>
                    </div>
                </div>
            </EditForm>
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Фамилия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in dbcontext.Persons)
                            {
                                <tr @onclick="(()=>Href(item.ID))">
                                    <td>
                                        @item.ID
                                    </td>
                                    <td>
                                        @item.FirstName
                                    </td>
                                    <td>
                                        @item.SecondName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <h1>У вас недостаточно прав для просмотра данной страницы!</h1>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    private ValidModel validModel = new ValidModel();
    private string role = "";

    private void HandleValidSubmit()
    {
        var person = new Person
        {
            FirstName = validModel.FirstName,
            SecondName = validModel.SecondName,
            Email = validModel.Email,
            Password = validModel.Password,
            RoleID = dbcontext.Roles.FirstOrDefault(u => u.RoleName == role).ID
        };
        dbcontext.Persons.Add(person);
        dbcontext.SaveChanges();
    }

    private void Href(int profilid)
    {
        navigationManager.NavigateTo($"UserProfile/{profilid}");
    }

}
